/* FOR ALL ELEMENTS STARTS */
body{
  font-family: 'Montserrat', sans-serif;
}
button:focus, input:focus{
    outline:0 !important;
}
a{
    color: #ffffff;
}
a:hover{
    text-decoration: none;
}
/* FOR ALL ELEMENTS ENDS */

/* HEADER STARTS */
#header{
    background-color: #2C3E50;
    color: #ffffff;
}
#header .container{
    padding: 0;
    line-height: 5vh;
}
#header .enquiry p{
    margin: 0;
    font-size: 0.9em;
}
#header .header-menu button{
    font-size: 0.7em;
    color: #000000;
    background-color: #FFAF04;
    border: none;
    border-radius: 10px;
}
#header .header-menu button:hover{
    background-color: #c97d04;
}
#header .header-menu i{
    margin-left: 10px;
    transition: all 0.3s;
}
#header .header-menu i:hover{
    transform: scale(1.3);
}
#header .header-bottom{
    background-color: #22313F;
}
#header .header-bottom .logo, #header .header-bottom .search{
    padding: 15px 0 10px 0;
}
#header  .header-bottom .logo img{
    width: 200px;
    height: auto;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #ffffff;
}
#header .header-bottom .search i{
    color: #000000;
}
/* align icon */
.right-addon .fa{
    right: 1%;
    bottom: 1%;
    opacity: 0.7;
}
/* add padding  */
.right-addon input {
    padding-right: 30px;
}
#header .header-bottom .search input{
    border-radius: 20px;
}
#header .header-bottom .menu{
    line-height: 7vh;
    font-size: 0.7em;
}
#header .header-bottom .menu a{
    margin: 0 25px 0 0;
}
#header .header-bottom .menu a:hover{
    color: #FFAF04;
}
/* HEADER ENDS */

/* BODY STARTS */
/* HERO AREA STARTS */
#body .hero-area{
    background: url("../images/index/jumbotron.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 0 !important;
    color: #ffffff;
    text-shadow: 2px 2px 5px #777777;
    border-radius: 0;
}
#body .hero-area .cart{
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
}
#body .hero-area .cart > div{
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
#body .hero-area .cart h1{
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px 0 0 0;
}
/* HERO AREA ENDS */

/* PRODUCT AREA STARTS */

.product-table .table th, .product-table .table td{
    text-align: center;
    vertical-align: middle;
}
.product-table .table tbody tr td select{
    padding: 10px 15px;
}

/* PRODUCT AREA ENDS */
/* BODY ENDS */

/* FOOTER STARTS */
/*FOOTER-MENU STARTS*/
.footer-menu .menu{
  padding: 70px 0;
  color: #000000;
}
.footer-menu .menu ul{
    padding: 0;
}
.footer-menu .menu ul p{
  font-weight: 600;
}
.footer-menu .menu ul li{
  list-style: none;
  padding: 5px 0;
}
.footer-menu .menu ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 0.8em;
}
/*FOOTER-MENU ENDS*/

/*CHEVRON CIRCLE STARTS*/
.chevron-circle{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevron-circle p{
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.chevron-circle p a{
    width: 100%;
    margin: 0 auto;
    color: #000000;
}
.chevron-circle i{
  font-size: 4em;
  transition: all 0.3s;
}
.chevron-circle i:hover{
  transform: scale(1.3);
  text-shadow: 1px 1px 5px #1B2529;
}
/*CHEVRON CIRCLE ENDS*/

/*FOOTER-BOTTOM STARTS*/
.footer-bottom{
  font-size: 0.9em;
  line-height: 8vh;
  margin-top: -25px;
}
.footer-bottom p{
  font-size: 0.9em;
}
/*FOOTER-BOTTOM ENDS*/
/* FOOTER ENDS */






/*MEDIA QUERY STARTS*/
/* pull-right on all except xs devices */
@media (min-width: 992px) {
    .pull-right-sm {
        float: right;
    }
    .pull-left-sm {
        float: left;
    }
}

@media (max-width: 992px) {
    .buttons div:nth-child(2) button{
        margin-top: 20px;
    }
    .buttons div:nth-child(2) button:nth-child(1){
        margin-left: 0 !important;
    }
    .buttons, .total-carts{
        text-align: center;
    }
}

@media (min-width: 768px) {
    #header .header-bottom .search input{
        border-radius: 20px;
        width: 400px;
    }
}

@media (max-width: 768px) {
    .row .col-xs-12{
        text-align: center !important;
    }
    #header .header-menu{
        margin-bottom: 10px;
    }
    #header .header-bottom .search{
        padding-left: 10px;
        padding-right: 10px;
    }
    #header .header-bottom .menu{
        text-align: center;
    }
    #header .header-bottom .navbar-header{
        padding-bottom: 10px;
    }
    #footer .footer-bottom{
        line-height: 5vh;
        margin: 0;
        text-align: center;
    }
    #body .hero-area h1{
        margin-top: 0;
    }
    #body .hero-area{
        padding-bottom: 5%;
    }

    .product-detail .form-inline .cart-btn{
        padding: 5px 15px;
    }
    .product-detail .form-inline select{
        padding: 5px;
    }

    input[type=radio].with-font::before{
        padding: 8px 15px;
    }

    .buttons div:nth-child(1) button{
        margin-top: 20px;
    }
    .buttons button{
        margin-left: 0 !important;
    }

}
/*MEDIA QUERY ENDS*/