/* FOR ALL ELEMENTS STARTS */
body{
  font-family: 'Montserrat', sans-serif;
}
button:focus, input:focus{
    outline:0 !important;
}
a{
    color: #ffffff;
}
a:hover{
    text-decoration: none;
}
/* FOR ALL ELEMENTS ENDS */

/* HEADER STARTS */
#header{
    background-color: #2C3E50;
    color: #ffffff;
}
#header .container{
    padding: 0;
    line-height: 5vh;
}
#header .enquiry p{
    margin: 0;
    font-size: 0.9em;
}
#header .header-menu button{
    font-size: 0.7em;
    color: #000000;
    background-color: #FFAF04;
    border: none;
    border-radius: 10px;
}
#header .header-menu button:hover{
    background-color: #c97d04;
}
#header .header-menu i{
    margin-left: 10px;
}
#header .header-menu i:hover{
    color: #1B2529;
}
#header .header-bottom{
    background-color: #22313F;
}
#header .header-bottom .logo, #header .header-bottom .search{
    padding: 15px 0 10px 0;
}
#header  .header-bottom .logo img{
    width: 200px;
    height: auto;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #ffffff;
}
#header .header-bottom .search i{
    color: #000000;
}
/* align icon */
.right-addon .fa{
    right: 1%;
    bottom: 1%;
    opacity: 0.7;
}
/* add padding  */
.right-addon input {
    padding-right: 30px;
}
#header .header-bottom .search input{
    border-radius: 20px;
}
#header .header-bottom .menu{
    line-height: 7vh;
    font-size: 0.7em;
}
#header .header-bottom .menu a{
    margin: 0 25px 0 0;
}
#header .header-bottom .menu a:hover{
    color: #FFAF04;
}
/* HEADER ENDS */

/* BODY STARTS */
/* HERO AREA STARTS */
#body .hero-area .jumbotron{
    background: url("../images/index/jumbotron.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 0 !important;
    color: #ffffff;
    text-shadow: 2px 2px 5px #777777;
    border-radius: 0;
}
#body .hero-area h3{
    font-size: 1.2em;
    line-height: 0.9em;
    letter-spacing: 2px;
}
#body .hero-area h1{
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 10px 0;
}
#body .hero-area p{
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 1px;
}
#body .hero-area a{
    font-size: 0.7em;
    font-weight: 500;
    color: #000000;
    padding: 7px 25px;
    background-color: #FFAF04;
    text-shadow: none;
    border: none;
    border-bottom: solid 2px #d99104;
    border-radius: 8px;
}
#body .hero-area a:hover{
    background-color: #c97d04;
}
/* HERO AREA ENDS */

/* SERVICES AREA STARTS */
#body .services div{
    background-color: #F8F7FD;
}
#body .services .service-title{
    text-align: center;
}
#body .services .service-title h1{
    font-size: 2.2em;
    font-weight: 600;
    margin: 50px 0 40px 0;
    line-height: 1.4em;
}
#body .services .service-title h1 span{
    color: #FFAF04;
}
#body .services .service{
    text-align: center;
}
#body .services .service h2{
    font-size: 1.3em;
    font-weight: 500;
}
#body .services .service p{
    font-size: 0.8em;
    line-height: 2em;
}
/* SERVICES AREA ENDS */

/* PRODUCT AREA STARTS */
#body .products .product-btn{
    text-align: center;
    line-height: 15vh;
}
#body .products .product-btn a{
    font-size: 0.7em;
    font-weight: 500;
    color: #ffffff;
    padding: 8px 25px;
    background-color: #22313F;
    border-radius: 8px;
}
#body .products .product-image, #body .products .product-detail{
    text-align: center;
}
#body .products .product-image img{
    width: 100%;
    height: auto;
}
#body .products .product-detail{
    background-color: #EFEFEF;
    padding: 10px;
}
#body .products .product-detail h2{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.3em;
    margin: 5px 0 0 0;
}
#body .products .product-detail p{
    font-size: 0.9em;
    margin: 15px 0;
}
#body .products .product-detail a{
    font-size: 0.7em;
    font-weight: 500;
    color: #ffffff;
    padding: 8px 25px;
    background-color: #22313F;
    border-radius: 8px;
}
/* PRODUCT AREA ENDS */
/* BODY ENDS */

/* FOOTER STARTS */
/*FOOTER-MENU STARTS*/
.footer-menu .menu{
  padding: 70px 0;
  color: #000000;
}
.footer-menu .menu ul{
    padding: 0;
}
.footer-menu .menu ul p{
  font-weight: 600;
}
.footer-menu .menu ul li{
  list-style: none;
  padding: 5px 0;
}
.footer-menu .menu ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 0.8em;
}
/*FOOTER-MENU ENDS*/

/*CHEVRON CIRCLE STARTS*/
.chevron-circle{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevron-circle p{
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.chevron-circle p a{
    width: 100%;
    margin: 0 auto;
    color: #000000;
}
.chevron-circle i{
  font-size: 4em;
}
/*CHEVRON CIRCLE ENDS*/

/*FOOTER-BOTTOM STARTS*/
.footer-bottom{
  font-size: 0.9em;
  line-height: 8vh;
  margin-top: -25px;
}
.footer-bottom p{
  font-size: 0.9em;
}
/*FOOTER-BOTTOM ENDS*/
/* FOOTER ENDS */






/*MEDIA QUERY STARTS*/
/* pull-right on all except xs devices */
@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
    .pull-left-sm {
        float: left;
    }
    #header .header-bottom .search input{
        border-radius: 20px;
        width: 400px;
    }
}

@media (max-width: 768px) {
    .row .col-xs-12{
        text-align: center !important;
    }
    #header .header-menu{
        margin-bottom: 10px;
    }
    #header .header-bottom .search{
        padding-left: 10px;
        padding-right: 10px;
    }
    #header .header-bottom .menu{
        text-align: center;
    }
    #header .header-bottom .navbar-header{
        padding-bottom: 10px;
    }
    #body .hero-area .jumbotron{
        text-align: center;
    }
    #body .hero-area h3{
        font-size: 1.2em;
        line-height: 1.3em;
        letter-spacing: 2px;
    }
    #body .hero-area h1{
        font-size: 2em;
    }
    #body .services .service-title h1{
        font-size: 1.8em;
    }
    #body .products .product-btn{
        line-height: 5vh;
    }
    #footer .footer-bottom{
        line-height: 5vh;
        margin: 0;
        text-align: center;
    }
}
/*MEDIA QUERY ENDS*/